/*Colors*/
$bg-color: #1C1C1C;
$txt-light: #D5D4D8;
$txt-dark: #6B7280;
$bg-container-dark: #1F2937;
$bg-container-light: #FFFBEB;
$accent: #D97706;
$password-btn: #6B7280;
$password-color: #F59E0B;

.accent{
    color:$accent;
}

.zero-margin{
    margin: 0;
}

html, body {
    margin: 0;
    padding: 0;
}

body{
    background-color: $bg-color;
    color: $txt-light;
    font-family: Karla, sans-serif;
}


.password__main{
    margin: 2.5rem auto;
    border:5px solid $accent;
    background-color: $bg-container-dark;
    padding: 1.25rem 3.25rem;
    max-width: 40rem;
    min-height: 45vh;
}

.password__top-section{
    font-weight: bold;
    font-size: 2.5rem;
}

.password__paragraph{
    font-size: 1.25rem;
    font-weight: 400;
}
.flex{
    display: flex;
    flex-direction: column;
}

.passsword__bottom-section{

}


.btn{
    background: #273549;
    color: $accent;
    border: none;
    margin: 1.5rem 0;
    width: 211px;
    height: 39px;
    border-radius: 6px;
}

.display{
    font-size: 1.25rem;
}

.generate-btn{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 223px;
    height: 42px;
    background-color: $accent;
    color: #fff;
    border: none;
    font-size: 1rem;
    border-radius: 6px;
}

.copy-btn{
    color: $accent;
    background-color: transparent;
    border: 1px solid transparent;
}

.copy-btn:hover{
    border: 1px solid $accent;
}